/out/*
/src/node_modules/*
app.json
/_rank_list/*
/_rank_video/*
/__history/*
/conf/*
/src/exec_modules/*
/src/node_modules/*
/src/render_modules/*
/src/.idea/*
debug



/conf
/_rank_video
/_rank_list
/_pixiv
/__history
/exec_modules
/node_modules
/out
/render_modules
/_asar-pack.bat
/_asar-pack-run.bat
/_pixiv-asar-pack&run.bat
/_pixiv-asar-pack.bat
/_asar-pack&run.bat
